<!-- https://docs.nativescript.org/angular/core-concepts/angular-navigation.html#page-router-outlet -->
<!-- <page-router-outlet></page-router-outlet> -->

<StackLayout class="form">

  <StackLayout class="input-field">
    <TextField class="input"></TextField>
    <StackLayout class="hr-light"></StackLayout>
  </StackLayout>

  <StackLayout class="input-field">
    <Label text="Option 2" class="label font-weight-bold m-b-5"></Label>
    <TextField class="input"></TextField>
    <StackLayout class="hr-light"></StackLayout>
  </StackLayout>

  <GridLayout class="input-field input-sides" rows="auto, auto" columns="*,*">
    <Label text="Option 3" class="label font-weight-bold" row="0" col="0"></Label>
    <TextField class="input right" row="0" col="1"></TextField>
    <StackLayout class="hr-light" row="1" colSpan="2"></StackLayout>
  </GridLayout>

  <TextField hint="Option 4" class="input input-border"></TextField>

  <TextField class="input input-rounded m-t-10"></TextField>

  <Image src="https://placem.at/people?w=150" width="150" class="img-circle m-y-20"></Image>

  <Button class="btn btn-primary" text="Botão"></Button>

</StackLayout>

<!-- <StackLayout class="action-bar-title">
  <Label text="Your App" class="font-weight-bold" color="blue"></Label>
  <Button class="btn btn-primary" text="huehue"></Button>
</StackLayout> -->


<!-- <WrapLayout orientation="horizontal">
    <Button text="Button 1" width="100" height="50" backgroundColor="#0099CC"></Button>
    <Button text="Button 2" width="100" height="50" backgroundColor="#CCFFFF"></Button>
    <Button text="Button 3" width="100" height="50" backgroundColor="#8C489F"></Button>
</WrapLayout> -->

<!-- <StackLayout orientation="horizontal">
    <Button text="Button 1" verticalAlignment="top" width="50" height="50" backgroundColor="#0099CC" width="100" margin="2"></Button>
    <Button text="Button 2" width="50" height="50" backgroundColor="#CCFFFF" width="100" margin="2"></Button>
    <Button text="Button 3" width="50" height="50" backgroundColor="#8C489F" width="100" margin="2"></Button>
</StackLayout> -->

<!-- <GridLayout columns="*,*,*" rows="*,*,*,*,*" sdkExampleTitle sdkToggleNavButton>
    <Button text="1" style="background-color: #0099CC; margin: 5;"></Button>
    <Button text="2" col="1" style="background-color: #FFFF66; margin: 5;"></Button>
    <Button text="3" col="2" rowSpan="2" style="background-color: #AA0078; margin: 5;"></Button>
    <Button text="4" row="1" rowSpan="2" colSpan="2" style="background-color: #8C489F; margin: 5;"></Button>
    <Button text="5" row="2" col="2" style="background-color: #CCFFFF; margin: 5;"></Button>
    <Button text="6" row="3" colSpan="3" style="background-color: #0099CC; margin: 5;"></Button>
</GridLayout> -->


<!-- <DockLayout stretchLastChild="true">
    <Button dock="left" text="left" style="background-color: #0099CC; margin: 5;"></Button>
    <Button dock="right" text="right" style="background-color: #8C489F; margin: 5;"></Button>
    <Button dock="bottom" text="bottom" style="background-color: #AA0078; margin: 5;"></Button>
    <Button dock="top" text="top" style="background-color: #B3B3D7; margin: 5;"></Button>
    <Button text="fill" style="background-color: #CCFFFF; margin: 5;"></Button>
</DockLayout> -->

<!-- <AbsoluteLayout>
    <Button text="Left: 10, Top: 5" left="10" top="5" height="42" width="230" backgroundColor="#0099CC"></Button>
    <Button text="Left: 15, Top: 50" left="15" top="50" height="190" width="160" backgroundColor="#C3C3E5"></Button>
    <Button text="Left: 185, Top: 50" left="185" top="50" height="90" width="170" backgroundColor="#CCFFFF"></Button>
    <Button text="Left: 70, Top: 200" left="70" top="200" height="50" width="230" backgroundColor="#8C489F"></Button>
</AbsoluteLayout> -->
