<ActionBar title="TaskManager - Criar Conta" class="action-bar"></ActionBar>

<ScrollView orientation="vertical" sdkExampleTitle sdkToggleNavButton>
  <StackLayout class="page">
    <StackLayout class="form">
      <StackLayout class="input-field">
        <Label text="Nome" class="label font-weight-bold m-b-5"></Label>
        <TextField class="input"></TextField>
        <StackLayout class="hr-light"></StackLayout>
      </StackLayout>

      <StackLayout class="input-field">
        <Label text="Email" class="label font-weight-bold m-b-5"></Label>
        <TextField class="input" keyboardType="email" autocapitalizationType="none" autocorrect="false"></TextField>
        <StackLayout class="hr-light"></StackLayout>
      </StackLayout>

      <StackLayout class="input-field">
        <Label text="Senha" class="label font-weight-bold m-b-5"></Label>
        <TextField class="input" secure="true"></TextField>
        <StackLayout class="hr-light"></StackLayout>
      </StackLayout>

      <StackLayout class="input-field">
        <Label text="Confirmar Senha" class="label font-weight-bold m-b-5"></Label>
        <TextField class="input" secure="true"></TextField>
        <StackLayout class="hr-light"></StackLayout>
      </StackLayout>
    </StackLayout>

    <Button text="criar conta" class="btn btn-primary"></Button>
    <Button text="login" [nsRouterLink]="['/sign-in']" pageTransition="slideBottom" class="btn btn-outline"></Button>
  </StackLayout>
</ScrollView>
